<div class="container">
  <div class="row alert_position" *ngIf="error.message">
    <ngb-alert [type]="error.type" class="ml-auto mr-auto" (close)="closeAlert()">{{ error.message }}</ngb-alert>
  </div>  
  <div class="row">
    <h5 class="w-100">Forum Categories</h5>
    <div class="form-group float-left">
    <form [formGroup]="form" class="m-4 w-100" (submit)="onClickCreateCategory()">  
    Create a forum category:
    <input name="id" formControlName="id" placeholder="Category ID">
    <input name="name" formControlName="name" placeholder="Category Name">
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="float-right ml-auto">
    <p class="d-inline-block">Filter by: </p> 
    <select class="form-control col-sm-6 d-inline-block" name="nooflist" [(ngModel)]="nooflist" (change)="listenCategory()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
    </select>
    </div>
  </div>
  <div *ngIf=" categories && categories.length ">
    <table class="table w-100">
      <tr>
        <th width="5%"></th>
        <th width="10%">ID</th>
        <th width="30%">Name</th>
        <th width="50">Description</th>
        <th width="5%"></th>
      </tr>
      <tr *ngFor=" let c of pagedItems ">
        <td><i class="fa fa-times ml-2 mr-4" aria-hidden="true" (click)="onClickCategoryDelete( c.id ) "></i></td>
        <td>
          {{ c.id }}
        </td>
        <td><input type="text" name="name" value="{{ c.name }}" [(ngModel)]="c.name" class="w-100"></td>
        <td><input type="text" name="desc" value="{{ c.description }}" [(ngModel)]="c.description" class="w-100"></td>
        <td><button type="button" class="btn btn-primary" (click)="onClickCategoryEdit( c.id )">SAVE</button></td>
      </tr>
    </table>
    <ngb-pagination [collectionSize]="categories.length" [(page)]="page" [pageSize]="nooflist" (pageChange)="setPage( page )"></ngb-pagination>

  </div>
</div>