<div class="container">
    <div class="row">
        <h5 class="w-100">User Management</h5>
        <div class="float-right ml-auto ">
        <p class="d-inline-block">Filter by: </p> 
        <select class="form-control col-sm-6 d-inline-block" name="nooflist" [(ngModel)]="nooflist" (change)="loadUsers()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        </div>
        <div class="row alert_position" *ngIf="error.message">
            <ngb-alert [type]="error.type" class="ml-auto mr-auto" (close)="closeAlert()">{{ error.message }}</ngb-alert>
        </div> 
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th width="10%">&nbsp;</th>
                    <th width="30%">ID</th>
                    <th width="30%">Display Name</th>
                    <th width="30%">Email</th>
                </tr>
            </thead>
            <tbody *ngIf="users.length != 0; else noData;">
                <tr *ngFor=" let user of pagedItems">
                    <td>
                        <i class="fa fa-pencil col-5" aria-hidden="true" (click)="onClickEdit( user )"></i> 
                        <i *ngIf="!trash; else getTrash" class="fa fa-times text-danger col-5" aria-hidden="true" (click)=" onClickDelete( user.key ) "></i>
                        <ng-template #getTrash>
                            <i class="fa fa-undo text-success col-5" aria-hidden="true" (click)=" onClickRestore( user.key ) "></i>
                        </ng-template>
                    </td>
                    <td>{{user.uid}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
            <ng-template #noData>
            <tbody>    
                <tr >
                    <td colspan="4" class="text-center">No User Found</td>
                </tr>
            </tbody>
            </ng-template>
            
        </table>
        <ngb-pagination [collectionSize]="users.length" [(page)]="page" [pageSize]="nooflist" (pageChange)="setPage( page )"></ngb-pagination>
    </div>
</div>